@model IEnumerable<RolesExampleTest.Models.Product>

@{
    ViewData["Title"] = "Index";    

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PartNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                   
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var photoImage = "~/Images/" + (item.ImageName ?? "NoImage.jpg");  
        <tr>
           @*<td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @*<img src="~/images/@Html.DisplayFor(modelItem => item.ImageName)" width="30" />*@
                <img src="@photoImage" width="30" asp-append-version="true" />  @*This forces the browser to load the image from the server*@


            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>|
                @*<a asp-action="AddToCart" asp-route-id="@item.ProductId" >Add to Cart</a>*@
                <a asp-action="AddToCart" asp-route-id="@item.ProductId" asp-route-returnUrl ="products/index">Add to Cart</a>

            </td>
        </tr>
}
    </tbody>
</table>
